h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  transform: scaleY(1.5);
  font-size: 32px;
  color: #404040;
  margin-bottom: 50px;
  margin-top: 50px;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  transform: scaleY(1.2);
  font-size: 25px;
  color: #404040;
  margin-bottom: -5px;
  margin-top: 0px;
}
.notclickred{
  background-color: rgb(237, 237, 237);
  padding: 0px;
  width: 260px;
  height: 160px;
}
.clickred{
  background-color: black;
  color: #ffffff;
  padding: 0px;
  width: 260px;
  height: 163px;
  margin: 0px;
}
h2{
  margin-top: 0px;
  cursor: default;
  font-size: 16px;
  font-weight: 700;
}
p{
  cursor: default;
}
.App {
  padding-left: 130px;
  padding-top: 20px;
}
.cars-prview{
  background-color: rgb(255, 255, 255);;
  width: 260px;
  height: 160px;
  padding: 3px;
}
.backgroundcolor{
  background-color: rgb(237, 237, 237);
  display: flex;
  width: 260px;
  height: 35px;
  justify-content: space-between;
}
.backgroundcolorpr{
  background-color: rgb(237, 237, 237);
  display: flex;
  width: 255px;
  height: 35px;
  justify-content: space-between;
}
.backgroundcolor1{
  display: flex;
  height: 38px;
  justify-content: space-between;
}
.backgroundcolor2{
  background-color: rgb(237, 237, 237);
  display: flex;
  width: 260px;
  height: 35px;
  justify-content: space-between;
}
.moreButton{
  font-size: 10px;
  size: 100px;
}
.backgroundcolor:hover{
  background-color: rgb(224, 224, 224);
}
.backgroundcolorpr:hover{
  background-color: rgb(224, 224, 224);
}
.carClass {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12.5px;
}
.carsPic{
  background-color: rgb(198, 198, 198);
  vertical-align: bottom;
}
.carsPicpr{
  background-color: rgb(198, 198, 198);
  vertical-align: bottom;
  width: 255px;
}
.showReturnFalse{
  opacity: 0.5;
  position: relative;
}
.showReturn{
  margin-top: 5px;
  margin-right: 5px;
}
.h2{
  font-size: 18px;
  font-weight: 600;
}
select{
  height: 50px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  color: #5f5f5f;
  border-color: #5f5f5f;
  margin-bottom: 50px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 2rem top 50%;
  background-size: 8px 12px;
}
select:hover{
  background-color: #ffffff;
}
.content {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}
.checkbox{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.inlinecheck{
  display: flex;
  align-items: center;
}
button{
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
}
input{
  cursor: pointer;
}
.moreButton{
  height: 30px;
  width: 30px;
  margin-top: 2.5px;
  text-align: center;
  margin-right: 10px;
  border-radius: 30px;
}
.linkSpecificCar{
  text-decoration: none;
  color: black;
}
.moreButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-cars-row {
  background-color: black;
  padding-bottom: 6.5px;
}
.NewCarDiv{
  padding-right: 262.5px;
  background-color: black;
  position: relative;
  margin-left: -262.5px;
  left: 265px;
}
.NewTypeDiv{
  padding-right: 262.5px;
  margin-left: -262.5px;
  position: relative;
  left: 264px;
}
.NewTypeDiv1{
  padding-right: 270px;
  background-color: black;
  position: relative;
  margin-left: -270px;
  left: 271px;
}
.NewTypeDiv2{
  padding-right: 527px;
  background-color: black;
  margin-left: -527px;
  position: relative;
  left: 530px;
}
.moreButton:active{
  background-color: rgb(237, 237, 237);
  color: black;
}
.OldTypeDiv{
  margin-right: 0px;
}
.margin-8{
  margin-right: 50px;
}
.info{
  position: absolute;
  height: 15px;
  width: 15px;
  text-align: center;
  justify-self: center;
  justify-content: center;
  border-radius: 20px;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  margin: 2px;
}
.specific-preview{
  align-items: center;
  width: 1215px;
}
.specific-item {
  display: flex;
  flex-direction: column;
}
.specificsPic {
  width: 1215px;
  height: 450px;
  object-fit: cover;
  object-position: 0% 70%;
}
.specificsPicIn{
  width: 1215px;
  height: 450px;
  object-fit: cover;
  object-position: 0% 70%;
}
.navButtonContainer {
  display: flex;
  width: 1217px;
  margin-top: 3px;
  align-self: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
.overall{
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: left;
  padding-bottom: 20px;
  margin-top: 110px;
  position: sticky;
  top: 43px;
  margin-left: 15px;
  align-self: flex-start;
}
.navButton {
  width: 170px;
  height: 40px;
  margin-right: 2px;
  background-color: #cecece;
  cursor: pointer;
  transition: 0.05s;
}
.navButtonBau {
  width: 170px;
  height: 40px;
  background-color: #cecece;
  cursor: pointer;
  transition: 0.05s;
}
.navButton:hover, .navButtonBau:hover{
  background-color: #f4f4f4;
}
.navButton:active, .navButtonBau:active{
  background-color: black;
  color: white;
}
.navButtonActive{
  width: 170px;
  height: 40px;
  margin-right: 2px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.headlineSpecific {
  margin-top: 80px;
  margin-left: 30px;
}
.specificBody{
  margin-left: 30px;
}
.selctm{
  width: 650px;
}
.mbuttons button{
  width: 900px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #292929;
}
.mbuttons button:hover{
  background-color: #e8e8e88e;
}
.mbuttons button:hover .moreButtonm {
  background-color: white;
}
.mbuttonsclicked button{
  width: 900px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e8e88e;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #292929;
}
.mbuttonsclicked button .moreButtonm {
  background-color: white;
}
.moreButtonm{
  background-color: #e8e8e88e;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  margin: 0px;
  width: 900px;
}
.motorisierung{
  margin-bottom: 50px;
}
.smselect{
  width: 230px;
  margin-bottom: 30px;
}
.price{
  margin-bottom: 2px;
  background-color: rgb(228, 228, 228);
  width: 250px ;
  padding-left: 20px;
}
.price p{
  font-size: 13px;
}
.driveGet{
  background-color: rgb(228, 228, 228);
  width: 250px;
  padding-left: 20px;
  padding-top: 15px;
}
.driveGet p{
  font-size: 12px;
}
.buttonssp{
  background-color: rgb(195, 195, 195);
  width: 250px;
  height: 120px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.spweiter{
  width: 230px;
  height: 60px;
  margin-top: 30px;
  color: white;
  background-color: #00adef;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  font-stretch: extra-expanded;
  transition: 0.5s;
}
.spweiter:hover{
  background-color: #018ac1;
}
.spnewkonfig{
  background-color: rgba(195, 195, 195, 0);
  margin-top: 10px;
  transition: 0.5s;
}
.spnewkonfig:hover{
  border-bottom: 2px solid #00adef;
}
.mietrate{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.listprice{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.buttretmotor{
  background-color: #e8e8e88e;
  width: 860px;
  padding: 20px;
  margin-top: 1px;
}
.buttretlines{
  background-color: #e8e8e88e;
  width: 860px;
  padding: 20px;
  margin-top: 1px;
}
.buttretfarbe{
  background-color: #e8e8e88e;
  width: 860px;
  padding: 20px;
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
}
.buttretaus{
  width: 900px;
  padding: 0px;
}
.selctmp{
  margin: 20px;
  width: 650px;
}
.stepsheadline{
  height: 80px;
  width: 878px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #292929;
  border: 1.5px solid #e8e8e88e;
  margin: 0.5px;
}
.summaryMotor{
  height: 80px;
  width: 878px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  color: #292929;
  border: 1.5px solid #e8e8e88e;
  background-color: #e8e8e88e;
  margin: 0.5px;
}
.summaryLines{
  width: 878px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 25px;
  color: #292929;
  border: 1.5px solid #e8e8e88e;
  background-color: #e8e8e88e;
  margin: 0.5px;
  margin-bottom: 1.5px;
}
.h2Summary{
  margin-top: 20px;
}
.summaryRight{
  margin-top: 5px;
}
.buttonssmry{
  display: flex;
  justify-content: right;
}
.inline{
  display: flex;
  justify-content: space-between;
}
.motorCheck{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.motorChecknotavai{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: auto;
}
.pmotorstrong{
  padding-left: 35px;
  padding-right: 5px;
  font-weight: 650;
  margin-bottom: 5px;
  margin-top: 5px;
}
.pmotorflex{
  margin-bottom: 5px;
  margin-top: 5px;
}
.blocks{
  display: flex;
}
.blockone{
  padding-right: 5px;
  margin-top: 5px;
}
.blocktwo{
  margin-top: 5px;
}
.motorname{
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}
.motornamena{
  opacity: 0.5;
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}
.left {
  display: flex;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.rightna{
  display: flex;
  flex-direction: column;
  align-items: end;
  opacity: 0.5;
}
.detailsbutton{
  background-color: rgba(195, 195, 195, 0);
  transition: 0.3s;
  height: 20px;
  margin-top: 10px;
  font-size: 15px;
  border-bottom: 2px solid #cecece;
  margin-left: 5px;
}
.detailsbutton:hover{
  border-bottom: 2px solid #00adef;
}
.pencil{
  color:#00adef;
  margin-right: 15px;
  padding: 0px;
  padding-top: 2px;
  height: 30px;
  width: 30px;
  border: 1.5px solid #cfcfcf8e;
  background-color: #e8e8e800;
}
.pencilIcon{
  width: 24px;
  height: 24px;
}
.garbage{
  color:#00adef;
  margin-right: 15px;
  padding: 0px;
  padding-top: 2px;
  height: 30px;
  width: 30px;
  border: 1.5px solid #cfcfcf8e;
  background-color: #e8e8e800;
}
.garbageIcon{
  width: 24px;
  height: 24px;
}
.infoIcon{
  height: 21px;
  width: auto;
  vertical-align: bottom;
}
.infoIconButton{
  background-color: #cecece00;
  margin-left: 0px;
  padding-left: 0px;
}
.infoIconButtonAus{
  background-color: #cecece00;
  margin-left: 5px;
  padding-left: 0px;
}
.infoIconButtonMotor{
  height: 21px;
  width: auto;
  vertical-align: bottom;
  background-color: #cecece00;
  margin-left: 5px;
  padding-left: 0px;
}
.infoIconButtonFarben{
  height: 21px;
  width: auto;
  vertical-align: bottom;
  background-color: #cecece00;
  margin-left: 5px;
  margin-top: 3px;
  padding-left: 0px;
}
.picpl{
  margin-top: 4px;
  height: 130px;
}
.picplna{
  margin-top: 4px;
  height: 130px;
  opacity: 0.5;
}
.flexc{
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: flex-start;
}
.detailstext{
  font-size: 15px;
  margin: 5px;
}
.details{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.point{
  height: 10px;
  width: auto;
  color: #878787;
}
.frpic{
  height: 90px;
  width: 270px;
  object-fit: cover;
}
.frbox{
  height: 290px;
  background-color: #d8d8d88e;
  width: 270px;
  margin: 8px;
}
.frboxnotavai{
  height: 290px;
  background-color: #d8d8d88e;
  width: 270px;
  margin: 8px;
}
.frpicna{
  opacity: 0.65;
  height: 90px;
  width: 270px;
  object-fit: cover;
}
.notavaicodefr{
  opacity: 0.65;
}
.frinline{
  display: flex;
  justify-content: space-between;
}
.farbenCheck{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}
.frcodename{
  margin-top: -6px;
  width: 170px;
  font-size: 14px; 
  line-height: 1.7;
}
.frprice{
  font-size: 18px;
  font-weight: 700;
}
.auselement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  background-color: #e8e8e88e;
  width: 860px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.auselementnotavai{
  margin-bottom: 1px;
  background-color: #e8e8e88e;
  width: 860px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.auselementnotavai .notavaitextaus{
  opacity: 1;
}
.auselementnotavaijusty{
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ausstattungcheck{
  height: 20px;
  width: 20px;
  margin-top: 19px;
}
.ausstattungchecknotavai{
  height: 20px;
  width: 20px;
  margin-top: 19px;
  cursor: auto;
}
.austext{
  font-size: 17px;
  font-weight: 700;
  margin-left: 5px;
}
.leftaus{
  display: flex;
}
.priceaus{
  font-size: 17px;
  font-weight: 700;
}
.searchdiv{ 
  position: relative;
  margin-bottom: 20px;
  width: 790px;
  background-color: #e8e8e88e;
  padding: 25px;
  height: 150px;
}
.searchbar{
  width: 690px;
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
}
.ergebnisinput{
  position: absolute; 
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 715px;
  height: 55px;
  top: 114px; 
  background-color: rgb(182, 182, 182); 
  border: 1px solid #000000; 
  z-index: 11; 
  font-size: 14px;
  letter-spacing: 0.5px;
}
.ergebnisinput:hover{
  background-color: #00adef;
  color: white;
}
.emaildiv{
  margin-top: 30px;
  width: 790px;
  background-color: #e8e8e88e;
  padding: 25px;
}
.emailinput{
  width: 500px;
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
}
.emailbutton{
  height: 55px;
  width: 150px;
  margin-left: 20px;
  color: white;
  background-color: #00adef;
  font-weight: 600;
  font-size: 15px;
  font-stretch: extra-expanded;
  transition: 0.5s;
  border-radius: 2px;
}
.emailbutton:hover{
  background-color: #018ac1;
}
.linkpricelist{
  color: #00adef;
  margin: 0px;
}
.ppricelist{
  margin-bottom: 5px;
  margin-top: 10px;
}
.mietumfangimg{
  height: 25px;
  width: auto;
  margin-top: 25px;
  margin-right: 5px;
}
.mietumfang{
  display: flex;
  align-items: baseline;
}
.mietumfangp{
  font-size: 12px;
  font-weight: 600;
}
.mietumfangimgint{
  height: 25px;
  width: auto;
  margin-top: 5px;
}
.rightfr{
  display: flex;
  margin-top: 10px;
  justify-content: end;
  margin-right: 10px;
}
.notavailable{
  cursor: auto;
}
.notavaitext{
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 600;
}
.notavaitextfr{
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.notavaitextaus{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  width: 150px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 30px;
}
.notavaicodefr{
  margin-left: 10px;
}
.elementssummary{
  margin-bottom: 40px;
}
.summary{
  margin-bottom: 40px;
}
.divleistungsdaten{
  background-color: #e8e8e88e;
  width: 850px;
  margin-top: 1px;
  padding: 20px;
  padding-left: 30px;
}
.divverbrauchsdaten{
  background-color: #e8e8e88e;
  width: 850px;
  margin-top: 1px;
  padding: 20px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}
.leistungsdaten{
  width: 50%;
  background-color: #ffffff;
}
.daten{
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e88e;
  margin-bottom: 1px;
  font-size: 14px;
}
.loaderdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 195, 195);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.menuandnav{
  display: flex;
}
.spbodyheadline{
  width: 930px;
}
.sonderauspreis{
  margin-right: 20px;
}
.konditionenInline{
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.konditionenInc{
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.konditionensmall{
  font-size: 11px;
  font-stretch: expanded;
}
.Incp{
  margin: 3px;
  margin-left: 5px;
  color:#404040;
}
.pointkond{
  height: 10px;
  width: auto;
  color: #878787;
  margin-left: 5px;
}
.fahrleistung{
  font-size: 15px;
  font-weight: 500;
  color: #3b3b3b;
}
.hrkon{
  width: 830px;
  color: white;
  border: 1px white solid;
}
.detailBox{
  font-size: 17px;
  border: none;
  border-radius: 5px;
  height: max-content;
  width: 780px;
  background-color: white;
  padding: 20px;
  position: fixed; 
  z-index: 11; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.detailBoxConsumption{
  font-size: 17px;
  border: none;
  border-radius: 5px;
  height: 75vh;
  width: 800px;
  background-color: white;
  padding: 20px;
  position: fixed; 
  z-index: 11; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  overflow-y: scroll;
}
.detailBoxSearch{
  font-size: 17px;
  border: none;
  border-radius: 5px;
  height: max-content;
  width: 780px;
  background-color: white;
  padding: 40px;
  padding-top: 20px;
  position: fixed; 
  z-index: 11; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.linesside{
  display: flex;
  justify-content: center;
}
.thumbnail{
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.thumbnailmulti{
  margin-top: -40px;
  width: 100%;
  height: auto;
}
.thumbnailColor{
  margin-top: 20px;
}
.canceldetailbtn{
  display: flex;
  justify-content: right;
}
.cancelicon{
  width: 25px;
  margin-bottom: 0px;
}
.displaydeatils{
  background-color: #0000007e;
  width: 100vw;
  height: 100vh;
  position: fixed; 
  z-index: 12; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgSearch{
  margin-top: 20px;
  width: 350px;
}
.thumbSearch{
  margin-top: 20px;
}
.SearchDetailBtn{
  width: 150px;
  height: 50px;
  border: 1px rgb(188, 188, 188) solid;
  color: #303030;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
}
.SearchDetailBtn:hover{
  background-color: #eeeeee;
}
.goBackBtn{
  width: 145px;
  height: 55px;
  border: 1px rgb(176, 176, 176) solid;
  color: #494949;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 0.5px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
}
.goBackBtn:hover{
  background-color: #dfdfdf;
}
.hinweis{
  margin-top: -20px;
}
.swipel{
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px;
  position: relative;
  top: 205px;
  left: 20px;
}
.swiper{
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px;
  position: relative;
  top: 205px;
  left: 660px;
}
.swipel:hover{
  background-color: #f1f1f1;
}
.swiper:hover{
  background-color: #f1f1f1;
}
.swipeIcon{
  height: 20px;
}
.flexSearch{
  display: flex;
}
.flexLeft{
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.detailSearchRate{
  margin-top: 20px;
}
.CLheadline{
  font-size: 25px;
  font-weight: 600;
  width: 470px;
}
.consumptionLabel{
  display: flex;
  justify-content: center;
}
.consumptionLabelBody{
  width: 740px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
}
.alloverCO2{
  display: flex;
}
.consumptionLabelBodyCO2class{
  width: 390px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
}
.consumptionLabelBodyCO2more{
  width: 330px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
  border-left: none;
}
.baseData{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.baseData p{
  margin: 0px;
}
.labelCL{
  font-weight: 700;
}
.labelCLCO2{
  font-weight: 700;
  margin-bottom: -15px;
}
.ConsumpCat {
  margin-bottom: 20px;
}
.footnotes{
  font-size: 14px;
  margin: 0px;
}
.furtherCD{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.wA{
  font-weight: 700;
  margin: 0px;
}
.gedate{
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 14px;
}
.CLbgrd{
  background-color: white;
}
.CO2class{
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.classLabel{
  height: 250px;
}
.cars-map {
  margin-right: 150px;
  width: 780px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  row-gap: -5px;
  column-gap: 10px;
}
.prompt1 {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 781px;
  position: relative;
  background-color: #000000;
  color: white;
  padding-left: 5px;
  padding-bottom: 5px;
}
.prompt2 {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 781px;
  position: relative;
  right: 263px;
  background-color: #000000;
  color: white;
  padding-left: 5px;
  padding-bottom: 5px;
}
.prompt3 {
  right: 526px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 781px;
  position: relative;
  right: 526px;
  background-color: #000000;
  color: white;
  padding-left: 5px;
  padding-bottom: 5px;
}
.linkSpecificCarpr{
  text-decoration: none;
  color: black;
}
