h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  transform: scaleY(1.5);
  font-size: 32px;
  color: #404040;
  margin-bottom: 80px;
  margin-top: 50px;
}
h2{
  margin-top: 0px;
  cursor: default;
}
p{
  cursor: default;
}
.App {
  padding-left: 100px;
  padding-top: 20px;
}
.cars-prview{
  background-color: rgb(255, 255, 255);;
  width: 260px;
  height: 160px;
  padding: 3px;
}
.white{
  background-color: rgb(237, 237, 237);
  display: flex;
  width: 260px;
  height: 35px;
  justify-content: space-between;
}
.black{
  background-color: rgb(237, 237, 237);
  display: flex;
  width: 260px;
  height: 38px;
  justify-content: space-between;
}
.moreButton{
  font-size: 10px;
  size: 100px;
}
.white:hover{
  background-color: rgb(224, 224, 224);
}
.carClass {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12.5px;
}
.cars-map{
  display: flex;
  flex-wrap: wrap;
}
.carsPic{
  height: 125px;
  width: 260px;
  background-color: rgb(198, 198, 198);
  vertical-align: bottom;
}
.showReturnFalse{
  opacity: 0.5;
}
.showReturnFalseOpa{
  opacity: 0.5;
}
.h2{
  font-size: 18px;
  font-weight: 600;
}
select{
  height: 50px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  color: #5f5f5f;
  border-color: #5f5f5f;
  margin-bottom: 50px;
  cursor: pointer;

  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 2rem top 50%;
  background-size: 0.65rem auto;
}
select:hover{
  background-color: #ffffff;
}
.content {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}
.checkbox{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.inlinecheck{
  display: flex;
  align-items: center;
}
button{
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
}
input{
  cursor: pointer;
}
.returnALL{
  margin-left: 70px;
}
.moreButton{
  height: 30px;
  width: 30px;
  margin-top: 2.5px;
  text-align: center;
  margin-right: 10px;
  border-radius: 30px;
}
.linkSpecificCar{
  text-decoration: none;
  color: black;
}
.specific-preview{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
}
.moreButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-cars-row {
  background-color: black;
  padding-bottom: 6.5px;
}
.NewCarDiv{
  padding-right: 262.5px;
  background-color: black;
  position: relative;
  margin-left: -262.5px;
  left: 265px;
}
.NewTypeDiv{
  padding-right: 262.5px;
  margin-left: -262.5px;
  position: relative;
  left: 264px;
}
.NewTypeDiv1{
  padding-right: 262.5px;
  background-color: black;
  position: relative;
  margin-left: -262.5px;
  left: 265px;
}
.NewTypeDiv2{
  padding-right: 525px;
  background-color: black;
  margin-left: -525px;
  position: relative;
  left: 528px;
}
.moreButton:active{
  background-color: rgb(237, 237, 237);
  color: black;
}